---
import SocialPill from './SocialPill.astro';
import GithubIcon from './icons/GitHub.astro';
import MongoDB from './icons/MongoDB.astro';
import Mysql from './icons/Mysql.astro';
import NextJS from './icons/NextJS.astro';
import Tailwind from './icons/Tailwind.astro';
import Cypress from './icons/Cypress.astro';
import LinkButton from './LinkButton.astro';
import Website from './icons/Website.astro';

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJS,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
  MYSQL: {
    name: 'MySQL',
    class: 'bg-[#4479A1] text-white',
    icon: Mysql,
  },
  MONGODB: {
    name: 'MongoDB',
    class: 'bg-[#47A248] text-white',
    icon: MongoDB,
  },
  CYPRESS: {
    name: 'Cypress',
    class: 'bg-[#17202C] text-white',
    icon: Cypress,
  },
};
const PROJECTS = [
  {
    title:
      'LMS Platform: Next.js 13, React, Stripe, Mux, Prisma, Tailwind, MySQL',
    description:
      'Este proyecto es un repositorio para construir una plataforma de gestión de aprendizaje (LMS) utilizando Next.js 13, React, Stripe, Mux, Prisma, Tailwind y MySQL.',
    link: 'https://lms-nextjs-sigma.vercel.app/',
    github: 'https://github.com/lace04/lms-nextjs/',
    image: '/projects/lms.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.MYSQL],
  },
  {
    title:
      'Sistema de riego automatizado mediante el uso de IoT: Next.js 14, React, Tailwind, MongoDB',
    description:
      'SISTEMA DE RIEGO AUTOMATIZADO MEDIANTE EL USO DE IoT Y UNA APLICACIÓN WEB PARA EL MONITOREO Y CONTROL DE LA HUMEDAD DEL SUELO EN CULTIVOS DE HORTALIZAS.',
    // link: 'https://github.com/Osquir/riegoiot',
    github: 'https://github.com/Osquir/riegoiot',
    image: '/projects/riego.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.MONGODB],
  },
  {
    title: 'Bazar universal: Next.js 14, Tailwind, Cypress',
    description:
      'Bazar universal es una aplicación web que permite a los usuarios comprar y vender productos de segunda mano.',
    link: 'https://bazar-online-prueba-ncg8wpiyp-lace04.vercel.app/',
    github:
      'https://github.com/lace04/pruebas-tecnicas/tree/main/pruebas/02-bazar-universal/lace04/bazar',
    image: '/projects/bazar.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.CYPRESS],
  },
];
---

<section class='flex flex-col'>
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <>
        <article class='mt-20'>
          <h3 class='text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2'>
            {title}
          </h3>
          <p class='text-lg mb-4 text-pretty'>{description}</p>
          <ul class='flex gap-x-2 flex-row mb-2'>
            {tags?.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
                >
                  <tag.icon class='size-4' />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <img
            loading='lazy'
            class='rounded shadow-2xl shadow-white/10 aspect-video'
            src={image}
            alt={`Captura de pantalla del proyecto ${image}`}
          />
        </article>
        <footer class='flex gap-x-4 mt-4 '>
          {github && (
            <LinkButton href={github}>
              <GithubIcon class='size-6' />
              Ver código fuente
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Website class='size-6' />
              Ver proyecto
            </LinkButton>
          )}
        </footer>
      </>
    ))
  }
  <div class='flex justify-center items-center mx-auto mt-16'>
    <SocialPill href='https://github.com/lace04/'>
      <GithubIcon class='size-4 md:size-5 lg:size-6' />Saber más... <svg
        class='w-3 h-3 ms-2 rtl:rotate-180'
        aria-hidden='true'
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 14 10'
      >
        <path
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M1 5h12m0 0L9 1m4 4L9 9'></path>
      </svg>
    </SocialPill>
  </div>
</section>
